aiosqlite==0.17.0
asyncgui==0.5.5
asynckivy==0.5.4
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
docutils==0.19
exceptiongroup==1.1.0
idna==3.4
iniconfig==2.0.0
isort==5.11.4
Kivy==2.1.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kivymd==1.1.1
loguru==0.6.0
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
Pygments==2.14.0
pypiwin32==223
pytest==7.2.0
pytest-asyncio==0.20.3
python-dateutil==2.8.2
pywin32==305
requests==2.28.2
six==1.16.0
tomli==2.0.1
typing_extensions==4.4.0
urllib3==1.26.14
win32-setctime==1.1.0
